* {
  padding: 0;
  margin: 0;
}
body {
  background-color: antiquewhite;
  text-align: center;

}
.box {
  background-color: rgba(205, 164, 31, 0.623);
  height: 100px;
  width: 100px;
  border: 1px rgba(255, 0, 0, 0.452) groove;
  font-size: 100px;
  border-radius: 10%;
  text-decoration: black;
  color: black;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reset {
  width: 120px;
  height: 50px;
  background-color: aqua;
  border: 2px red groove;
  border-radius: 50%;
}
.toggle_btn {
  float: left;
  width: 40px;
  height: 40px;
  margin: 3px;
  background-color: rgb(187, 255, 0);
  border-radius: 10%;
  font-size: larger;
}

.msg {
  /* display: none; */
  padding-left: 2vw;
  text-align: center;
  font-size: 30px;
  /* border: gray groove 5px; */
}

#puse{
  background-color: red;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  border: 3px black groove;
  text-align: center;
}

.container{
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: repeat(3,105px);
}